<main class="album-view container narrow">
    <section class="clearfix">
        <div class="column half">
            <img src="/assets/images/album_covers/01.png" class="album-cover-art">
        </div>
        <div class="album-view-details column half" ng-controller="AlbumCtrl as album">
            <h2 class="album-view-title"> {{ albumData.name }}</h2>
            <h3 class="album-view-artist"> {{ albumData.artist }} </h3>
            <h5 class="album-view-release-info">{{ albumData.year }} {{ albumData.label }}</h5>
        </div>
    </section>
    <table class="album-view-song-list">
        <tr class="album-view-song-item" ng-repeat="song in albumData.songs" ng-mouseenter="onHoverSong(song)" ng-mouseleave="offHoverSong(song)">
          <td class="song-item-number">
            <span ng-switch="getSongState(song)">
              <span ng-switch-when="hovered"><a class="album-song-button" ng-click="songPlayer.play(song)"><i class="ion-play" style="vertical-align: middle"></i></a></span>
              <span ng-switch-when="paused"><a class="album-song-button" ng-click="songPlayer.play(song)"><i class="ion-play" style="vertical-align: middle"></i></a></span>
              <span ng-switch-when="playing"><a class="album-song-button" ng-click="songPlayer.pause(song)"><i class="ion-pause" style="vertical-align: middle"></i></a></span>
              <span ng-switch-default>{{ $index + 1 }}</span>
            </span>
          </td>
          <td class="song-item-title">{{ song.title }}</td>
          <td class="song-item-duration">{{ song.duration | timecode }}</td>
        </tr>
    </table>
</main>

<ng-include src="'../templates/directives/player_bar.html'"></ng-include>

<!--
small errors happening all over the place.
1. click the middle of a long song then a short song and the seek bar overflows or starts at a non-zero position.
2. icons not centered in circle.
3. can't click play/pause more than twice in a row.
-->
